<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

    <div class="wow animated slideInUp" data-wow-delay=".2s">
      <a href="/projects/" class="btn btn-outline-primary btn-sm m-1">Projects</a>
      <a href="/blog/"     class="btn btn-outline-primary btn-sm m-1">Blog</a>
      <a href="/trips/"    class="btn btn-outline-primary btn-sm m-1">Trips</a>
      <a href="/research/" class="btn btn-outline-primary btn-sm m-1">Research</a>
    </div>

  </div>
</div>